<div>
  <div [hidden]="submitted">
    <h1>Login Form</h1>
    <form (ngSubmit)="onSubmit()" #myForm="ngForm" #spy>
      <div>
        <label>User Name:
          <input type="text"
                 required
                 [(ngModel)]="username"
                 placeholder="(username)"
                 name="username"
                 #user="ngModel"
                 >
          <div [hidden]="user.valid || user.pristine">username required</div>
        </label>
        <br>TODO: remove this: {{spy.className}}
        <div>
          Name is required
        </div>
      </div>
      <div>
        <label>Password:
          <input type="password"
                 required
                 name="password"
                 [(ngModel)]="password" ngControl="password"
          #pass="ngModel"
          >
          <div [hidden]="pass.valid || pass.pristine">password required</div>
        </label>
      </div>
      <button type="submit" [disabled]="!myForm.form.valid">Login</button>
    </form>
  </div>
</div>