<div>
  <div [hidden]="submitted">
    <h1>Login Form</h1>
    <form (ngSubmit)="onSubmit()" #myForm="ngForm" #spy>
      <div>
        <label>User Name:
          <input type="text"
                 required
                 [(ngModel)]="username"
                 placeholder="(username)"
                 name="username"
                 >
        </label>
        <div>
          Name is required
        </div>
      </div>
      <div>
        <label>Password:
          <input type="password"
                 required
                 name="password"
          >
        </label>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
</div>